.content {
    background-color: rosybrown;
    width: 100%;
    display:inline-flex;
 




}

.content2 {
    width: 360px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    flex-wrap: wrap;


}


.content img {
    width: 300px;
    height: 350px;
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;


}

.content img:hover {
    transform: scale(1.3);
    -webkit-transform: scale(1.15);
}



.content h1 {
    font-size: large;
    text-align: center;
    margin-top: 20px;
    color: red;
}

.alt {
    /* border: 2px solid red; */
    width: 300px;
    background-color: aqua;
}